<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../static/CSS/style.css">
<head>
    <title>The Donor Zone</title>
</head>
<body>

<header>
  <nav>
      <ul class="displayblock">
          <li><a href="../index.html"><img src="../../static/RESSOURCES/Menu/Search.svg" alt=""></a>RECHERCHER</li>
          <li><a href="../HTML/Sell.html"><img src="../../static/RESSOURCES/Menu/Ajout.svg" alt=""></a>VENDRE</li>
          <li><a href="../HTML/Message.html"><img src="../../static/RESSOURCES/Menu/Message.svg" alt=""></a>MESSAGE</li>
          <li><a href="../HTML/Profile.html"><img src="../../static/RESSOURCES/Menu/Profile.svg" alt=""></a>PROFIL</li>
      </ul>
  </nav>
</header>
<br>
<h1 class="titreAcceuil"><span class="realistic-marker-highlight">Créer un compte</span><br></h1>
<br>
<div>
  <form action="/action_page.php">
    <label for="fname">Prénom</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Nom</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Adresse mail</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Nom d'utilisateur</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Mot de passe</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    
  <br>
    <input type="submit" value="créer mon compte">
  </form>
</div>

<br>

</body>
<svg xmlns="//www.w3.org/2000/svg" version="1.1" class="svg-filters" style="display:none;">
    <defs>
      <filter id="marker-shape">
        <feTurbulence type="fractalNoise" baseFrequency="0 0.15" numOctaves="1" result="warp" />
        <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="7" in="SourceGraphic" in2="warp" />
      </filter>
    </defs>
  </svg>
</html>
