<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link rel="stylesheet" href="../static/CSS/style.css" />

  <head>
    <title>The Donor Zone</title>
  </head>

  <body>
    <div class="titre">
      <h1 class="slide-left-right">
        <i>
          THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE -
          THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE -
          THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE -
          THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE</i
        >
      </h1>
      <h1 class="slide-right-left">
        GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS
        - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE
        LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE -
        WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS
      </h1>
    </div>
    <header>
      <nav>
        <ul class="displayblock">
          <li>
            <a href="./index.html"
              ><img src="../static/CSS/RESSOURCES/Menu/Search.svg" alt="" /></a
            >RECHERCHER
          </li>
          <li>
            <a href="./Sell.html"
              ><img src="../static/CSS/RESSOURCES/Menu/Ajout.svg" alt="" /></a
            >VENDRE
          </li>
          <li>
            <a href="./Message.html"
              ><img src="../static/CSS/RESSOURCES/Menu/Message.svg" alt="" /></a
            >MESSAGE
          </li>
          <li>
            <a href="./Profile.html"
              ><img src="../static/CSS/RESSOURCES/Menu/Profile.svg" alt="" /></a
            >PROFIL
          </li>
          <li>
            <a href="./Profile.html"
              ><img src="../static/CSS/RESSOURCES/Menu/logout.svg" alt="" /></a
            >DECONNEXION
          </li>
        </ul>
      </nav>
    </header>

    <div class="pageanonce">
      <h1>titre annonce</h1>
      <h3>Proposé par :</h3>
      <br />
      <img src="https://via.placeholder.com/500" alt="" />

      <br />
      <div class="DescriptionAnnonce">
        <h3>Description :</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis
          consequuntur ipsum est perferendis nostrum quasi minima laboriosam
          quo, odio nihil ullam suscipit deleniti fuga odit praesentium ratione
          commodi qui provident!
        </p>
        <h4 class="motclespageanonce">
          <span>mot cles</span>
          <span>mot cles</span>
          <span>mot cles</span>
          <span>mot cles</span>
        </h4>

        <div class="FooterAnonce">
          <h4>
            Date : <br />
            état : <br />
            Lieu : <br />
          </h4>

          <div class="BoutonAnnonce">
            <a href="">Ajouter aux favoris 🧡</a>
            <a href="">contacter le propriétaire</a>
          </div>
        </div>

        <br />

        <a href="./index.html">retour au anonces</a>
      </div>
    </div>
  </body>
  <svg
    xmlns="//www.w3.org/2000/svg"
    version="1.1"
    class="svg-filters"
    style="display: none"
  >
    <defs>
      <filter id="marker-shape">
        <feTurbulence
          type="fractalNoise"
          baseFrequency="0 0.15"
          numOctaves="1"
          result="warp"
        />
        <feDisplacementMap
          xChannelSelector="R"
          yChannelSelector="G"
          scale="7"
          in="SourceGraphic"
          in2="warp"
        />
      </filter>
    </defs>
  </svg>
</html>
