<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/CSS/style.css" />

<head>
  <title>The Donor Zone</title>
</head>

<body>
  <div class="titre">
    <h1 class="slide-left-right">
      <i>
        THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE</i
      >
    </h1>
    <h1 class="slide-right-left">
      GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS
    </h1>
  </div>
  <header>
    <nav>
      <ul class="displayblock">
        <li>
          <a href="./index.html">
            <img src="/CSS/RESSOURCES/Menu/Home.svg" alt="" /></a
          >HOME
        </li>
        <li>
          <a href="./recherche.html"">
            <img src="/CSS/RESSOURCES/Menu/Search.svg" alt="" /></a
          >RECHERCHER
        </li>
        <li>
          <a th:href="@{/announcements/sell}">
            <img src="/CSS/RESSOURCES/Menu/Ajout.svg" alt="" /></a
          >VENDRE
        </li>
        <li>
          <a href="Message.html"
            ><img src="/CSS/RESSOURCES/Menu/Message.svg" alt="" /></a
          >MESSAGE
        </li>
        <li>
          <a href="Profile.html"
            ><img src="/CSS/RESSOURCES/Menu/Profile.svg" alt="" /></a
          >PROFIL
        </li>
        <li>
          <a href="./Profile.html"
            ><img src="/CSS/RESSOURCES/Menu/logout.svg" alt="" /></a
          >DECONNEXION
        </li>
      </ul>
    </nav>
  </header>
<div class="pageprofil">

<section>
  <h1>créer une anonce</h1>
  <form th:action="@{/profile/update}" method="post">
      <label for="email">Email :</label>
      <input type="email" id="email" name="email" th:value="${user.email}" required placeholder="Votre adresse email"/>

      <label for="password">Nouveau Mot de Passe :</label>
      <input type="password" id="password" name="password" placeholder="Nouveau mot de passe" />
<br>
      <button type="submit">Mettre à jour</button>
  </form>
</section>
</div>

</body>
<svg xmlns="//www.w3.org/2000/svg" version="1.1" class="svg-filters" style="display: none">
  <defs>
    <filter id="marker-shape">
      <feTurbulence type="fractalNoise" baseFrequency="0 0.15" numOctaves="1" result="warp" />
      <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="7" in="SourceGraphic" in2="warp" />
    </filter>
  </defs>
</svg>

</html>