<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link rel="stylesheet" href="/CSS/style.css" />
  <head>
    <title>The Donor Zone</title>
  </head>
  <body>
    <div class="titre">
      <h1 class="slide-left-right">
        <i>
          THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE -
          THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE -
          THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE -
          THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE</i
        >
      </h1>
      <h1 class="slide-right-left">
        GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS
        - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE
        LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE -
        WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS
      </h1>
    </div>
    <header>
      <nav>
        <ul class="displayblock">
          <li>
            <a href="./index.html">
              <img src="/CSS/RESSOURCES/Menu/Home.svg" alt="" /></a
            >HOME
          </li>
          <li>
            <a href="./recherche.html"">
              <img src="/CSS/RESSOURCES/Menu/Search.svg" alt="" /></a
            >RECHERCHER
          </li>
          <li>
            <a th:href="@{/announcements/sell}">
              <img src="/CSS/RESSOURCES/Menu/Ajout.svg" alt="" /></a
            >VENDRE
          </li>
          <li>
            <a href="Message.html"
              ><img src="/CSS/RESSOURCES/Menu/Message.svg" alt="" /></a
            >MESSAGE
          </li>
          <li>
            <a href="Profile.html"
              ><img src="/CSS/RESSOURCES/Menu/Profile.svg" alt="" /></a
            >PROFIL
          </li>
          <li>
            <a href="./Profile.html"
              ><img src="/CSS/RESSOURCES/Menu/logout.svg" alt="" /></a
            >DECONNEXION
          </li>
        </ul>
      </nav>
    </header>
    <br>
    <h1 class="titreAcceuil">Chaque année en France, <br><span class="realistic-marker-highlight">plus de 40% des meubles jetés</span><br> peuvent encore servir</h1>
    <div class="paragraphe">
    <div>
        <p><h1><span class="realistic-marker-highlight">Pourquoi nous existons ?</span></h3>
            Chaque année, des tonnes de meubles encore utilisables finissent en décharge, contribuant au gaspillage des ressources et à l’augmentation des déchets. Notre plateforme permet à chacun de vendre ou d’acheter des meubles d'occasion facilement, prolongeant ainsi la durée de vie des objets et contribuant à une consommation plus durable.</P>
    </div>
    </div>
    <div class="paragraphe">

        <img class="cycle" src="./RESSOURCES/SVG_Acceuil/Recycle.svg" alt="">
        <div>
            <p><h1><span class="realistic-marker-highlight">Comment ça fonctionne ?</span></h3>

    Le fonctionnement est simple : <br>
    <ul>
    <li>Mettez en ligne une photo de votre meuble avec une description rapide. </li>
    <li>Discutez directement avec les acheteurs intéressés. </li>
    <li>Concluez la vente et organisez la récupération du meuble en fonction de vos disponibilités.</li>
    </ul></P>
        </div>
    </div>
  </body>
  <svg
    xmlns="//www.w3.org/2000/svg"
    version="1.1"
    class="svg-filters"
    style="display: none"
  >
    <defs>
      <filter id="marker-shape">
        <feTurbulence
          type="fractalNoise"
          baseFrequency="0 0.15"
          numOctaves="1"
          result="warp"
        />
        <feDisplacementMap
          xChannelSelector="R"
          yChannelSelector="G"
          scale="7"
          in="SourceGraphic"
          in2="warp"
        />
      </filter>
    </defs>
  </svg>
</html>
