<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <link rel="stylesheet" href="/CSS/style.css" />
  <head>
    <title>The Donor Zone</title>
  </head>
  <body>
    <div class="titre">
      <h1 class="slide-left-right">
        <i>
          GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE
          - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE
          MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE -
          GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE
          - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE
          MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE -
          GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE</i
        >
      </h1>
      <h1 class="slide-right-left">
        WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE
        LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS -
        WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE
        LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS -
        WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE
        LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS -
        WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS
      </h1>
    </div>
    <header>
      <nav>
        <ul class="displayblock">
          <li>
            <a th:href="@{/announcements}">
              <img src="/CSS/RESSOURCES/Menu/Search.svg" alt="" /></a
            >RECHERCHER
          </li>
          <li>
            <a th:href="@{/announcements/sell}">
              <img src="/CSS/RESSOURCES/Menu/Ajout.svg" alt="" /></a
            >VENDRE
          </li>
          <li>
            <a href="Message.html"
              ><img src="/CSS/RESSOURCES/Menu/Message.svg" alt="" /></a
            >MESSAGE
          </li>
          <li>
            <a href="Profile.html"
              ><img src="/CSS/RESSOURCES/Menu/Profile.svg" alt="" /></a
            >PROFIL
          </li>
          <li>
            <a href="./Profile.html"
              ><img src="../static/CSS/RESSOURCES/Menu/logout.svg" alt="" /></a
            >DECONNEXION
          </li>
        </ul>
      </nav>
    </header>
    <br />
    <form action="/announcements" method="get">
      <ul class="barreDeRecherche">
        <li>
          <input type="text" name="keywords" placeholder="Search.." />
        </li>
        <li>
          <button type="submit">
            <img src="/CSS/RESSOURCES/Menu/Search.svg" alt="Search" />
          </button>
        </li>
      </ul>
    </form>
    <div class="annonces-container">
      <tr th:each="announcement : ${announcements}">
        <div class="annonce">
          <a
            th:href="@{'/announcements/' + ${announcement.idAnnouncement}}"
            target="_blank"
          >
            <div class="annonceimage-container">
              <img
                src="https://via.placeholder.com/150"
                alt="Image de l'objet"
              />
              <div class="annoncefavori">
                <img
                  src="/CSS/RESSOURCES/SVG_Acceuil/HeartLikeOff.svg"
                  alt="Favori"
                />
              </div>
            </div>
            <div class="annoncedetails">
              <h2>
                <td th:text="${announcement.title}"></td>
              </h2>
              <p class="annoncedescription">
                <td th:text="${announcement.description}"></td>
              </p>
              <p class="annoncemeta">
                Proposé par :
                <td th:text="${announcement.publicationDate}"></td>
                <br />
                Date :
                <td th:text="${announcement.publicationDate}"></td>
                <br />
                État :
                <td th:text="${announcement.state}"></td>
                <br />
                Lieu :
                <td th:text="${announcement.geographicalArea}"></td>
              </p>
              <p class="annoncekeywords">
                Mots-clés : <br />
                <span th:text="${announcement.listOfkeyWords}"></span>
              </p>
            </div>
          </a>
        </div>
      </tr>
    </div>
  </body>
  <svg
    xmlns="//www.w3.org/2000/svg"
    version="1.1"
    class="svg-filters"
    style="display: none"
  >
    <defs>
      <filter id="marker-shape">
        <feTurbulence
          type="fractalNoise"
          baseFrequency="0 0.15"
          numOctaves="1"
          result="warp"
        />
        <feDisplacementMap
          xChannelSelector="R"
          yChannelSelector="G"
          scale="7"
          in="SourceGraphic"
          in2="warp"
        />
      </filter>
    </defs>
  </svg>
</html>
