<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/CSS/style.css">
<head>
    <title>The Donor Zone</title>
</head>
<body>

<header>
  <nav>
      <ul class="displayblock">
          <li><a href="index.html"><img src="../static/RESSOURCES/Menu/Search.svg" alt=""></a>RECHERCHER</li>
          <li><a href="Sell.html"><img src="../static/RESSOURCES/Menu/Ajout.svg" alt=""></a>VENDRE</li>
          <li><a href="Message.html"><img src="../static/RESSOURCES/Menu/Message.svg" alt=""></a>MESSAGE</li>
          <li><a href="Profile.html"><img src="../static/RESSOURCES/Menu/Profile.svg" alt=""></a>PROFIL</li>
      </ul>
  </nav>
</header>
<br>

<!-- Section Profil -->
<section>
    <div class="profile-container">
        <h2>Informations du Profil</h2>
        <ul>
            <li><strong>Nom d'utilisateur :</strong> <span th:text="${user.username}">nom_utilisateur</span></li>
            <li><strong>Email :</strong> <span th:text="${user.email}">email@exemple.com</span></li>
            <li><strong>Date de création :</strong> <span th:text="${#dates.format(user.createdAt, 'dd-MM-yyyy')}">01-01-2024</span></li>
        </ul>
    </div>
</section>

<!-- Formulaire pour Mettre à Jour les Infos -->
<section>
    <h3>Mettre à jour les informations</h3>
    <form th:action="@{/profile/update}" method="post">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" th:value="${user.email}" required />

        <label for="password">Nouveau Mot de Passe :</label>
        <input type="password" id="password" name="password" placeholder="Nouveau mot de passe" />

        <button type="submit">Mettre à jour</button>
    </form>
</section>

<svg xmlns="//www.w3.org/2000/svg" version="1.1" class="svg-filters" style="display:none;">
    <defs>
        <filter id="marker-shape">
            <feTurbulence type="fractalNoise" baseFrequency="0 0.15" numOctaves="1" result="warp" />
            <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="7" in="SourceGraphic" in2="warp" />
        </filter>
    </defs>
</svg>
</body>
</html>