<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/CSS/style.css" />

<head>
  <title>The Donor Zone</title>
</head>

<body>
  <div class="titre">
    <h1 class="slide-left-right">
      <i>
        THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE -
        THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE -
        THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE -
        THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE - THE DONOR ZONE</i>
    </h1>
    <h1 class="slide-right-left">
      GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS
      - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE
      LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE -
      WASTE LESS - GIVE MORE - WASTE LESS - GIVE MORE - WASTE LESS
    </h1>
  </div>
  <header>
    <nav>
      <ul class="displayblock">
        <li>
          <a href="./index.html">
            <img src="/CSS/RESSOURCES/Menu/Home.svg" alt="" /></a>HOME
        </li>
        <li>
          <a href="./recherche.html"">
              <img src=" /CSS/RESSOURCES/Menu/Search.svg" alt="" /></a>RECHERCHER
        </li>
        <li>
          <a th:href="@{/announcements/sell}">
            <img src="/CSS/RESSOURCES/Menu/Ajout.svg" alt="" /></a>VENDRE
        </li>
        <li>
          <a href="Message.html"><img src="/CSS/RESSOURCES/Menu/Message.svg" alt="" /></a>MESSAGE
        </li>
        <li>
          <a href="Profile.html"><img src="/CSS/RESSOURCES/Menu/Profile.svg" alt="" /></a>PROFIL
        </li>
        <li>
          <a href="./Profile.html"><img src="/CSS/RESSOURCES/Menu/logout.svg" alt="" /></a>DECONNEXION
        </li>
      </ul>
    </nav>
  </header>
  <br>
  <form action="/announcements/search" method="get">
    <ul class="barreDeRecherche">
      <li>
        <input type="text" name="keywords" placeholder="Search.." />
      </li>
      <li>
        <button type="submit">
          <img src="/CSS/RESSOURCES/Menu/Search.svg" alt="Search" />
        </button>
      </li>
    </ul>
    <div class="filtres-container">
      <div class="labelcontainer">
        <div class="filtre">
          <label for="state">État :</label>
          <select name="state" id="state">
            <option value="">Tous</option>
            <option value="nouveau">Etat Neuf</option>
            <option value="bon état">Bon état</option>
            <option value="satisfaisant">Satisfaisant</option>
          </select>
        </div>
        <div class="filtre">
          <label for="state">Donation :</label>
          <select name="state" id="state">
            <option value="">Tous</option>
            <option value="main">Main propre</option>
            <option value="enoyé">Envoi</option>
          </select>
        </div>
        <div class="filtre">
          <label for="location">Lieu :</label>
          <select name="location" id="location">
            <option value="">Toutes zones</option>
            <option value="paris">Paris</option>
            <option value="lyon">Lyon</option>
            <option value="marseille">Marseille</option>
          </select>
        </div>
      </div>
      <button type="submit" class="filter-button">Filtrer</button>
    </div>
  </form>
  <div class="annonces-container">
    <tr th:each="announcement : ${announcements}">
      <div class="annonce">
        <a href="./Annonce.html">
          <div class="annonceimage-container">
            <img src="https://via.placeholder.com/150" alt="Image de l'objet" />
            <div class="annoncefavori">
              <img src="/CSS/RESSOURCES/SVG_Acceuil/HeartLikeOff.svg" alt="Favori" />
            </div>
          </div>
          <div class="annoncedetails">
            <h2>
              <td th:text="${announcement.title}"></td>
            </h2>
            <p class="annoncedescription">
              <td th:text="${announcement.description}"></td>
            </p>
            <p class="annoncemeta">
              Proposé par :
              <td th:text="${announcement.publicationDate}"></td>
              <br>
              Date :
              <td th:text="${announcement.publicationDate}"></td>
              <br>
              État :
              <td th:text="${announcement.state}"></td>
              <br>
              Lieu :
              <td th:text="${announcement.geographicalArea}"></td>
            </p>
            <p class="annoncekeywords">
              Mots-clés : <br>
              <span>meuble</span> <span>gratuit</span>
            </p>
          </div>
        </a>
      </div>
    </tr>
  </div>
</body>
<svg xmlns="//www.w3.org/2000/svg" version="1.1" class="svg-filters" style="display: none">
  <defs>
    <filter id="marker-shape">
      <feTurbulence type="fractalNoise" baseFrequency="0 0.15" numOctaves="1" result="warp" />
      <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="7" in="SourceGraphic" in2="warp" />
    </filter>
  </defs>
</svg>

</html>