<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../CSS/style.css">
<head>
    <title>My Web App</title>
</head>
<body>
<div class="titre">
    <h1 class="slide-left-right"><i> GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE - GIVE MORE</i></h1>
    <h1 class="slide-right-left">WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS - WASTE LESS</h1>
</div>
<header>
    <nav>
        <ul class="displayblock">
            <li><a href="../index.html"><img src="../RESSOURCES/Menu/Home.svg" alt=""></a>ACCEUIL</li>
            <li><a href=""><img src="../RESSOURCES/Menu/Search.svg" alt=""></a>RECHERCHER</li>
            <li><a href=""><img src="../RESSOURCES/Menu/Ajout.svg" alt=""></a>VENDRE</li>
            <li><a href=""><img src="../RESSOURCES/Menu/Profile.svg" alt=""></a>PROFIL</li>
            <li><a href="../HTML/Login.html"><img src="../RESSOURCES/Menu/Login.svg" alt=""></a>CONNEXION</li>
        </ul>
    </nav>
</header>
<br>
<h1 class="titreAcceuil"><span class="realistic-marker-highlight">Se connecter</span><br></h1>

<br>
<div>
  <form action="/action_page.php">
    <label for="fname">Prénom</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Nom</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Adresse mail</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Nom d'utilisateur</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Mot de passe</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    
  <br>
    <input type="submit" value="créer mon compte">
  </form>
</div>

<br>

<footer>
<nav>
    <ul class="displayblock">
        <li><a href="../HTML/Register.html">Je n'ai pas de compte</a></li>
    </ul>
</nav>
</footer>


</body>
<svg xmlns="//www.w3.org/2000/svg" version="1.1" class="svg-filters" style="display:none;">
    <defs>
      <filter id="marker-shape">
        <feTurbulence type="fractalNoise" baseFrequency="0 0.15" numOctaves="1" result="warp" />
        <feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="7" in="SourceGraphic" in2="warp" />
      </filter>
    </defs>
  </svg>
</html>
